<!-- views/partials/ProductGrid.ejs -->
<h2 class="product-heading" id="search-heading">
  Hittade <%= products.length %> liknande produkter </h2>

<div class="container">
  <% products.forEach(function(product) { %>
    <article class="spot">
      <a href="/products/<%= product.id %>" class="spot">
        <h1 class="spot-text">Beskrivande text</h1>
        <figure class="image-container">
          <img src="<%= product.image_url %>" alt="Bild for product <%= product.id %>" class="responsive">
          <img src="/images/suit-heart-fill.svg" alt="Favorite" class="heart-icon">
          <figcaption>
            <div class="left-caption">
              <div class="caption-top">
                <%= product.namn %>
              </div>
              <div class="caption-sub">
                <%= product.brand %>
              </div>
            </div>
            <div class="right-caption">
              <%= product.price %>
            </div>
          </figcaption>
        </figure>
      </a>
    </article>
    <% }); %>
</div>