<div class="spots-container">

  <% dynamicSpotsData.forEach(spot=> { %>
    <div class="spot">
      <a href="/<%= spot.slug %>">
        
        <figure class="image-container">
          <figcaption>
            <div class="overlay-text">
              <%= spot.title %><br>
                <%= spot.description %>
            </div>
          </figcaption>
          <img src="<%= spot.image %>" alt="<%= spot.title %>" class="responsive">
        </figure>
      </a>
    </div>
    <% }) %>

</div>