<div class="spots-container">
  <% dynamicSpotsData.forEach(spot => { %>
    <div class="spot">
      <a href="/<%= spot.slug %>">
        <figure class="image-container">
          <img src="<%= spot.image %>" alt="<%= spot.title %>" class="responsive">
          <figcaption>
            <div class="overlay-text">
              <%= spot.title %><br>
              <%= spot.description %>
            </div>
          </figcaption>
        </figure>
      </a>
    </div>
  <% }) %>
</div>

