<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Produktens namn</th>
                <th>Pris</th>
                <th>Märke</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(product => { %>
                <tr>
                    <td><%= id %></td>
                    <td><%= name %></td>
                    <td><%= price %></td>
                    <td><%= brand %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
  </body>
</html>
