<!DOCTYPE html>
<html>
<head>
  <title><%= spot.title %></title>
</head>
<body>
  <h1><%= spot.title %></h1>
  <p><%= spot.description %></p>
  <img src="<%= spot.image %>" alt="<%= spot.title %>">
  
  <a href="/">Tillbacka till hemsidan</a>
</body>
</html>
